
<div class="row">
  <div class="col-lg-2 col-sm-12 d-sm-none">

  </div>
  <div class="col-lg-8 col-sm-12  m-3 "  >
    <div class="card" style="width: 18rem;">
      <img src="../../assets/Images/watch.jpg" class="card-img-top" alt="image go here">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p>
          Mini bid:{{item.lastBid}}</p>
        
        <input id="bidValue" value="{{bidValue}}" type="tel" />
        <button (click)="bidding()" class="btn btn-primary">bid</button>
      </div>
    </div>

    <!--Fill items here-->
  </div>
  <div class="col-lg-2 col-sm-12 d-sm-none">

  </div>
</div>
